<!DOCTYPE html>
<html>
<head>
  <title>Clock</title>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@1.9.12/dist/htmx.min.js" integrity="sha256-RJMXreeIHpSVENthSZHhlcOgmcTHkcJNrOxV+fSipFI=" crossorigin="anonymous"></script>
  <link href="dist.css" rel="stylesheet" />
  <style>
    body {
      background-color: rgb(15, 23, 42);
      color: white;
    }
    .error {
      color: red;
    }
    .battery {
      color: orange;
    }
  </style>
</head>

<body class="w-screen h-screen font-mono">
  <div class="w-full h-full flex flex-col items-center justify-center">
    <div class="flex flex-col">
      <div id="date" class="text-2xl justify-center text-center" hx-get="/snippets/date" hx-trigger="load,every 1m"></div>
      <div id="time" class="text-8xl" hx-get="/snippets/time" hx-trigger="load,every 30s">--:--</div>
      <div class="weather flex flex-row text-2xl justify-between">
        <div id="temp" hx-get="/snippets/temperature" hx-trigger="load,every 1m">-°</div>
        <div id="humidity" hx-get="/snippets/humidity" hx-trigger="load,every 1m">-%</div>
      </div>
      <div class="flex flex-row text-2xl items-center justify-center gap-8">
        <div id="sunrise" hx-get="/snippets/sunrise" hx-trigger="load,every 5m">↑--:--</div>
        <div id="sunset" hx-get="/snippets/sunset" hx-trigger="load,every 5m">↓--:--</div>
      </div>
    </div>
  </div>
</body>

</html>